/* .description {
    text-shadow: 2px 2px 5px red;    color: black;
    font-size: 24px;
    text

} */
a.navbar-brand {
    font-family: 'Fredoka One', cursive;
}
#aboutme {
    color: #000000 !important;
    text-align: justify;

}
p.achievement {
font-weight: 300;
color: #ffffff !important;
}

p#aboutme {
    font-family: 'Open Sans', sans-serif;
}
h4.description {
    font-family: 'Open Sans', sans-serif;
}
p.achievement {
    font-family: 'Open Sans', sans-serif;
}
p.description {
    font-family: 'Open Sans', sans-serif;
}
.info .icon.icon-circle i{
    line-height: 2 !important;
}
.info .icon>i {
    font-size: 4em !important;
}